
<div class="auth-form__form" id='register'>
    <h1>Đăng ký</h1>
    <hr />
    <form action="" method="POST">
      {% csrf_token %}
      <div id="registerForm">
        <div class="registerForm_form-controls">
          <label>Email :</label>
          <div class="registerForm_controls">
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Email *"
            />
          </div>
        </div>
        <div class="registerForm_form-controls">
          <label>Họ tên:</label>
          <div class="registerForm_controls">
            <input
              type="text"
              name="full-name"
              id="full-name"
              placeholder="Họ tên *"
            />
          </div>
        </div>
        <div class="registerForm_form-controls">
          <label>Mật khẩu:</label>
          <div class="registerForm_controls">
            <input
              type="text"
              name="password"
              id="password"
              placeholder="Mật khẩu *"
            />
          </div>
        </div>
        <div class="registerForm_form-controls">
          <label>Nhập lại mật khẩu:</label>
          <div class="registerForm_controls">
            <input
              type="text"
              name="re-password"
              id="re-password"
              placeholder="Nhập lại mật khẩu*"
            />
          </div>
        </div>
        <div class="registerForm_form-controls">
          <label>Điện thoại:</label>
          <div class="registerForm_controls">
            <input
              type="text"
              name="phone"
              id="phone"
              placeholder="Điện thoại *"
            />
          </div>
        </div>
        <div class="registerForm_form-controls">
          <label>Địa chỉ:</label>
          <div class="registerForm_controls">
            <input
              type="text"
              name="address"
              id="address"
              placeholder="Địa chỉ *"
            />
          </div>
        </div>
        <div class="registerForm_form-controls">
          <div class="registerForm_controls-btn">
            <button type="submit">ĐĂNG KÝ TÀI KHOẢN</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  