{% extends 'dashboard/db_series.html' %}

{% block series %}

<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div id="list-form">
        <h3>Create News</h3>
        {% include 'shop/alert.html' %}
        {{ form.media }}
        <form class="form__create form-news" id="form-news" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-item">
                <label for="id_title">Title</label>
                {{ form.title }}
            </div>
            <hr>
            <div class="form-item">
                <label for="id_image">Image</label>
                {{ form.image }}
            </div>
            <hr>
            <div class="form-item">
                <label for="id_content">Content</label>
                {{ form.content }}
            </div>
            <hr>
            <a class="btn btn-secondary" href="{% url 'dashboard_news' %}">Back</a>
            <input class="form-submit btn btn-primary submit-news" id="form-submit" type="submit" value="Save">
        </form>
    </div>
</div>


{% endblock series %}