

<div class="configuration-detail">
    <div class="configuration__container">
      <div class="display">
        <table>
          <tr><th colspan="2">Màn hình</th></th>
          <tr>
            <td>Công nghệ màn hình</td>
            <td>OLED</td>
          </tr>
          <tr><th colspan="2">Camera sau</th></tr>
          <tr>
            <td>Độ phân giải</td>
            <td>2 camera 12 MP</td>
          </tr>
          <tr>
            <td>Quay phim</td>
            <td>
              <ul>
                <li>4K 2160p@24fps</li>
                <li>4K 2160p@30fps</li>
                <li>4K 2160p@60fps</li>
                <li>FullHD 1080p@120fps</li>
                <li>FullHD 1080p@240fps</li>
                <li>FullHD 1080p@30fps</li>
                <li>FullHD 1080p@60fps</li>
                <li>HD 720p@30fps
              </ul>
            </td>
          </tr>
          <tr>
            <td>Tính năng</td>
            <td>
              <ul>
                <li>Ban đêm (Night Mode)</li>
                <li>Góc rộng (Wide)</li>
                <li>Góc siêu rộng (Ultrawide)</li>
                <li>HDR</li>
                <li>Nhận diện khuôn mặt</li>
                <li>Quay chậm (Slow Motion)</li>
                <li>Toàn cảnh (Panorama)</li>
                <li>Trôi nhanh thời gian (Time Lapse)</li>
                <li>Tự động lấy nét (AF)</li>
                <li>Xóa phông</li>
                <li>Zoom kỹ thuật số</li>
                <li>Zoom quang học</li>
              </ul>
            </td>
          </tr>
          <tr><th colspan="2">Camera trước</th></tr>
          <tr>
            <td>Độ phân giải</td>
            <td>12 MP</td>
          </tr>
          <tr>
            <td>Tính năng</td>
            <td>
              <ul>
                <li>HDR</li>
                <li>Nhãn dán (AR Stickers)</li>
                <li>Nhận diện khuôn mặt</li>
                <li>Quay chậm (Slow Motion)</li>
                <li>Quay phim 4K</li>
                <li>Quay video Full HD</li>
                <li>Quay video HD</li>
                <li>Retina Flash</li>
                <li>Tự động lấy nét (AF)</li>
                <li>Xóa phông</li>
              </ul>
            </td>
          </tr>
          <tr><th colspan="2">Hệ điều hành & CPU</th></tr>
          <tr>
            <td>Chip xử lý (CPU)</td>
            <td>Apple A14 Bionic 6 nhân</td>
          </tr>
          <tr>
            <td>Tốc độ CPU</td>
            <td>2 nhân 3.1 GHz & 4 nhân 1.8 GHz</td>
          </tr>
          <tr>
            <td>Chip đồ họa (GPU)</td>
            <td>Apple GPU 6 nhân</td>
          </tr>
          <tr>
            <td>Hệ điều hành</td>
            <td>iOS 14</td>
          </tr>
          <tr><th colspan="2">Bộ nhớ và lưu trữ</th></tr>
          <tr>
            <td>RAM</td>
            <td>4 GB</td>
          </tr>
          <tr>
            <td>Bộ nhớ trong (ROM)</td>
            <td>64 GB</td>
          </tr>
          <tr>
            <td>Bộ nhớ còn lại (khả dụng)</td>
            <td>Khoảng 49 GB</td>
          </tr>
          <tr>
            <td>Bộ nhớ ngoài</td>
            <td>Không</td>
          </tr>
          <tr><th colspan="2">Kết nối</th></tr>
          <tr>
            <td>mạng di động</td>
            <td>Hỗ trợ 5G</td>
          </tr>
          <tr>
            <td>mạng di động</td>
            <td>Hỗ trợ 5G</td>
          </tr>
          <tr>
            <td>Số khe sim</td>
            <td>1 Nano SIM & 1 eSIM</td>
          </tr>
          <tr>
            <td>Wife</td>
            <td>
              <ul>
                <li>Dual-band (2.4 GHz/5 GHz)</li>
                <li>Wi-Fi 802.11 a/b/g/n/ac/ax</li>
                <li>Wi-Fi hotspot</li>
                <li>Wi-Fi MIMO</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>GPS</td>
            <td>
              <ul>
                <li>A-GPS</li>
                <li>BDS</li>
                <li>GALILEO</li>
                <li>GLONASS</li>
                <li>iBeacon</li>
                <li>QZSS</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Blutooth</td>
            <td>
              <ul>
                <li>A2DP</li>
                <li>v5.0</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Kết nối khác</td>
            <td>OTG</td>
          </tr>
          <tr>
            <td>Cổng kết nối/sạc</td>
            <td>Lightning</td>
          </tr>
          <tr>
            <td>Jack tai nghe</td>
            <td>Lightning</td>
          </tr>
          <tr><th colspan="2">Thiết kế-Trọng lượng</th></tr>
          <tr>
            <td>Thiết kế</td>
            <td>Nguyên khối</td>
          </tr>
          <tr>
            <td>Kích thước</td>
            <td>Dài 146.7 mm - Ngang 71.5 mm - Dày 7.4 mm</td>
          </tr>
          <tr>
            <td>Trọng lượng</td>
            <td>164 g</td>
          </tr>
          <tr><th colspan="2">Pin & Sạc</th></tr>
          <tr>
            <td>Dung lượng pin</td>
            <td>2815</td>
          </tr>
          <tr>
            <td>Loại pin</td>
            <td>Li-on</td>
          </tr>
          <tr><th colspan="2">Tiện ích</th></tr>
          <tr>
            <td>Xem phim</td>
            <td>H.264(MPEG4-AVC)</td>
          </tr>
          <tr>
            <td>Nghe nhạc</td>
            <td>
              <ul>
                <li>AAC</li>
                <li>FLAC</li>
                <li>Lossless</li>
                <li>MP3</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Ghi âm</td>
            <td>	Có (microphone chuyên dụng chống ồn)</td>
          </tr>
          <tr>
            <td>Tính năng đặc biệt</td>
            <td>Kháng nước, kháng bụi</td>
          </tr>
          <tr>
            <td>Bảo mật nâng cao</td>
            <td>Mở khoá khuôn mặt Face ID</td>
          </tr>
        </table>
      </div>
    </div>
  </div>